<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500&display=swap');
</style>
* {
    box-sizing: border-box;
    margin: auto;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.above-header {
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    justify-content: space-around;

}
.above-header ul {
    display: flex;
    justify-content: space-around;
}

.above-header ul li {
    list-style: none;
    font-size: 0.8rem;
    padding: 5px 10px;
}

.above-header ul li:hover {
    color: red;
}

.main-header {
    display: flex;
    justify-content: space-around;
}
.main-header ul {
    display: flex;
    list-style: none;
    padding: 10px;
}
.main-header ul li {
    padding: 10px;
}

.hero-section {
    display: flex;
    background-color: #f1f1f1;
    align-items: center;
    padding: 20px;
    height: 600px;
    justify-content: center;
}

.hero-section .left-side {
    justify-content: left;
    margin: 20px;
    z-index: 10;
}
.hero-section .left-side h1{
    font-size: 5rem;
    margin-right: -75px;
}
.hero-section .left-side h2 {
    font-size: 2.5rem;
}
.hero-section .left-side .button {
    border: 3px solid black;
    padding: 10px 20px;
    text-decoration: none;
    color: red;
    margin: 10px 0;
    display: inline-block;
}

.hero-section .right-side {
    background-color: pink;
    height: 400px;
    width: 500px;
    z-index: 0;
}
.featured-heading {
    margin: 100px;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
.line-below-heading {
    position: absolute;
    height: 5px;
    width: 120px;
    background-color: red;
    margin: auto;
    top: 100px; left: 0; bottom: 0; right: 0;
}
.featured-categories .before-categories{
    display: flex;
    justify-content: center;
}

.featured-categories .categories {
    display: grid;
    grid-template-columns: repeat( 4,1fr);
    grid-row-gap: 0;
    grid-column-gap: 15px;
    padding: 15px 15px 0 15px;
}

@media (max-width:1800px) {
    .featured-categories .categories {
        grid-template-columns: repeat( 3,1fr);
    }
}
@media (max-width:1400px) {
    .featured-categories .categories {
        grid-template-columns: repeat( 2,1fr);
    }
}
@media (max-width:1200px) {
    .featured-categories .categories {
        grid-template-columns: repeat( 2,1fr);
    }
}
@media (max-width:800px) {
    .featured-categories .categories {
        grid-template-columns: repeat( 1,1fr);
    }
}

.featured-categories .categories .photo {
    margin: 20px 10px;
}


.our-partners {
    display: flex;
    padding: 0px 100px;
    background-color: #e2e2e2;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-around;

}
.our-partners .partners-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.our-partners h1 {
    border-right: 5px solid black;
    padding-right: 20px;
}
.our-partners p {
    font-size: 78px;
    margin-left: 25%;
}

.products-wrapper {
    overflow: hidden;

    display: flex;
    justify-content: space-around;
}

.products-wrapper .products {
    display: grid;
    grid-template-columns: repeat( 4,1fr);
    grid-row-gap: 0;
    grid-column-gap: 15px;
    padding: 15px 15px 0 15px;
}

@media (max-width:1800px) {
    .products-wrapper .products {
        grid-template-columns: repeat( 3,1fr);
    }
}
@media (max-width:1400px) {
    .products-wrapper .products {
        grid-template-columns: repeat( 2,1fr);
    }
}
@media (max-width:1200px) {
    .products-wrapper .products {
        grid-template-columns: repeat( 2,1fr);
    }
}
@media (max-width:800px) {
    .products-wrapper .products {
        grid-template-columns: repeat( 1,1fr);
    }
}

.products-wrapper .products .photo {
    margin: 20px 10px;
}


.our-quality {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0px;
}

.our-quality .quality-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    width: 1200px;

}

.our-quality .quality-wrapper .quality1 {
    background-color: rgba(255, 0, 0,.8);
    color: white;
    padding: 20px;
}
.our-quality .quality-wrapper .quality2 {
    background-color: rgba(0, 255, 0,.8);
    color: white;
    padding: 20px;
}
.our-quality .quality-wrapper .quality3 {
    background-color: rgba(0, 0, 255,.8);
    color: white;
    padding: 20px;
}
@media (max-width:1200px) {
    .our-quality .quality-wrapper {
        grid-template-columns: repeat( 1,1fr);
    }
}

.latest-news {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 0 100px 0;
    align-items: center;
}

.latest-news .news-wrapper {
    display: grid;
    width: 1200px;
    grid-template-columns: repeat(2, 1fr);
}


.latest-news .news-wrapper .news {
    background-color: rgba(192, 192, 192, 0.336);
    margin: 30px;
    padding: 30px;
}
.latest-news .news-wrapper .news h1:hover {
    color: lightblue;
}
@media (max-width:1200px) {
    .latest-news .news-wrapper {
        grid-template-columns: repeat( 1,1fr);
    }
}
.footer {
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.footer .footer-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px;
    width: 1200px;
}
.footer h3 {
    border-left: 2px solid red;
    font-weight: 700;
    padding-left: 20px;
}
.footer p {
    color: rgba(0, 0, 0, 0.719);
    line-height: 1.6;
}
.footer .for-customer .list ul {
    list-style: none;
}
.footer .for-customer .list ul li {
    border-bottom: 1px silver solid;
    padding: 10px;
}

.below-footer {
    background-color: black;
    color: rgba(255, 255, 255, 0.534);
    font-size: .8rem;
    text-align: center;
    padding: 10px;
} 